/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');

/* General Styles */
html {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
}

.bold {
    font-weight: bold;
}

.row {
    margin: 0!important;
}

/* Red and Green Text */
.red-text {
    color: red;
}

.green-text {
    color: green;
}

/* Header Container */
.header-container {
    text-align: center;
    margin-bottom: 20px;
}

.header-container h2 {
    display: inline-block;
    margin-right: 20px;
}

.header-container a {
    color: #007bff;
    text-decoration: none;
}

/* Main Container */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

/* Left Section (Income and Expense Lists) */
.income-expense-section {
    flex: 2;
    margin-right: 20px;
}

/* Sidebar Section */
.sidebar-section {
    text-align: center;
}

.sidebar-section h5, .sidebar-section h3 {
    margin: 0 0 10px;
    color: #36343B;
}

.tabs .tab a {
    color: #36343B;
}

.tabs .tab a.active {
    color: #007AFF;
    background-color: #F2F2F7;
}

.tabs .indicator {
    background-color: #36343B;
}

/* Center the doughnut chart within the sidebar */
.canvas-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.canvas-container canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.canvas-container .center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center-text div {
    font-family: 'Montserrat', sans-serif;
    color: #36343B;
    font-weight: bold;
}

/* Navbar Styles */
.nav-wrapper {
    background-color: #F2F2F7; /* Navbar background */
}

.nav-wrapper .brand-logo {
    font-weight: bold;
}

.nav-wrapper .right a {
    color: #36343B;
}

.nav-wrapper .right a.active {
    color: #007AFF; /* Active link color */
}

.custom-container {
    max-width: 1440px; /* Adjust this value as needed */
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .sidebar-section {
        order: 1;
        width: 100%;
    }

    .income-expense-section {
        order: 2;
        width: 100%;
        margin-top: 20px;
    }

    .tabs .tab a {
        font-size: 14px;
    }
}