/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* General Styles */
html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.bold {
    font-weight: bold;
}

.row {
    margin: 0!important;
}

/* Red and Green Text */
.red-text {
    color: red;
}

.green-text {
    color: green;
}

/* Navbar Styles */
.nav-wrapper {
    background-color: #F2F2F7; /* Navbar background */
}

.nav-wrapper .brand-logo {
    font-weight: bold;
}

.nav-wrapper .right a {
    color: #36343B;
}

.nav-wrapper .right a.active {
    color: #007AFF; /* Active link color */
}

/* Hero Section Styles */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f7;
    padding: 40px;
}

.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text-content {
    max-width: 50%;
}

.text-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}

.text-content p {
    font-size: 1.25rem;
    color: #555;
    margin: 20px 0;
}

.cta-button {
    background-color: #007AFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 15px;
}

.supporting-link {
    color: #007AFF;
    text-decoration: underline;
    font-size: 1rem;
}

/* Container Styles */
.custom-container {
    max-width: 1220px;
    margin: 0 auto; /* This centers the container */
    padding: 0 15px; /* Optional: add some padding on the sides */
    width: 100%; /* Ensures the container scales with the screen */
}

/* Main Layout */
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.sidebar-section {
    flex: 0 0 30%; /* Sidebar takes 30% */
    max-width: 30%;
    margin-bottom: 20px;
}

.income-expense-section {
    flex: 0 0 68%; /* Main content takes 68% */
    max-width: 68%;
}

/* Doughnut Chart */
.chart-container {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;
    }

    .sidebar-section {
        order: 1;
        width: 100%;
    }

    .income-expense-section {
        order: 2;
        width: 100%;
        margin-top: 20px;
    }

    .tabs .tab a {
        font-size: 14px;
    }

    /* Additional responsive adjustments for the hero section */
    .hero-content {
        flex-direction: column;
        align-items: center;
    }

    .text-content {
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .cta-button, .supporting-link {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .image-content img {
        width: 100%;
        height: auto;
    }
}