/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');

/* General Styles */
html {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
}

.bold {
    font-weight: bold;
}

.row {
    margin: 0!important;
}

/* Red and Green Text */
.red-text {
    color: red;
}

.green-text {
    color: green;
}

/* Header Container */
.header-container {
    text-align: center;
    margin-bottom: 20px;
}

.header-container h2 {
    display: inline-block;
    margin-right: 20px;
}

.header-container a {
    color: #007bff;
    text-decoration: none;
}

/* Main Container */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

/* Left Section (Income and Expense Lists) */
.income-expense-section {
    flex: 2;
    margin-right: 20px;
}

/* Right Section (Summary Sidebar) */
.sidebar-section {
    flex: 1;
    background-color: #F2F2F7;
    padding: 20px;
    border-radius: 8px;
    color: #36343B;
}

.sidebar-section h3, .sidebar-section h4, .sidebar-section h5, .sidebar-section p {
    margin: 0 0 10px;
    color: #36343B;
}

.tabs .tab a {
    color: #36343B;
}

.tabs .tab a.active {
    color: #007AFF;
    background-color: #F2F2F7;
}

.tabs .tab a:hover {
    color: #36343B;
}

.tabs .indicator {
    background-color: #36343B;
}

/* Navbar Styles */
.nav-wrapper {
    background-color: #F2F2F7; /* Navbar background */
}

.nav-wrapper .brand-logo {
    font-weight: bold;
}

.nav-wrapper .right a {
    color: #36343B;
}

.nav-wrapper .right a.active {
    color: #007AFF; /* Active link color */
}