<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Intentional Spending Tracker{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo left">Your Logo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'guide' %}" target="_blank" class="{% if request.path == '/guide/' %}active{% endif %}">Guide</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}" class="{% if request.path == '/signup/' %}active{% endif %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}" class="{% if request.path == '/login/' %}active{% endif %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero-section">
        <div class="hero-content">
            <div class="text-content">
                <h1>Simplify Your Budgeting with the 50/30/20 Rule</h1>
                <p>Easily manage your finances by categorizing your expenses into three simple categories: Needs, Wants, and Savings/Debt.</p>
                <a href="{% url 'signup' %}" class="cta-button">Start Budgeting Today</a>
                <a href="{% url 'guide' %}" class="supporting-link">Learn More About the 50/30/20 Rule</a>
            </div>
            <div class="image-content">
                <img src="{% static 'images/hero-image.png' %}" alt="Budgeting Image">
            </div>
        </div>
    </section>

    <!-- Main Content -->
    <div class="custom-container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>